.article-main-container {
  color: white;
  max-width: 1240px;
  margin: 0 auto;
}

.article-main-comments {
  grid-area: comments;
}
.article-main-main {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-areas: "votes topic user time" "votes title title title" "votes body body body";
}
.article-main-details {
  border: 2px solid blue;
}
.article-main-title {
  text-align: left;
  font-size: 200%;
  grid-area: title;
}

.article-main-votes {
  position: fixed;
  grid-area: votes;
  font-size: 15px;
}

.article-main-user {
  grid-area: user;
}
.article-main-time {
  grid-area: time;
}
.article-main-topic {
  grid-area: topic;
  color: #202829;
}

.article-main-topic:hover {
  grid-area: topic;
  color: white;
}

.article-main-body {
  border: 2px solid black;
  background: #202829;
  color: white;
  grid-area: body;
}
