.article-card-container {
  border: 2px solid rgba(0, 0, 0, 1);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "votes title user"
    "votes title time"
    "votes title topic";
}
.article-card-title {
  border: 2px solid rgba(255, 255, 255, 1);
  display: block;
  font-size: 200%;
  height: 100%;
  grid-area: title;
}
.article-card-votes {
  border: 2px solid rgb(252, 214, 0);
  grid-area: votes;
}
.article-card-user {
  border: 2px solid rgb(5, 99, 250);
  grid-area: user;
}
.article-card-time {
  border: 2px solid rgb(5, 99, 250);
  grid-area: time;
}
.article-card-topic {
  border: 2px solid rgb(5, 99, 250);
  grid-area: topic;
}
