.container {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 6fr 1fr;
  grid-template-areas: "header" "nav" "main" "footer";
  font-family: Gotham;
}

.login-logout {
  color: white;
  text-align: left;
  margin: 5px;
}

header {
  background: #202829;
  grid-area: header;
}

header img {
  height: 200px;
}
.header-tag {
  color: white;
  font-size: 50px;
}

.header-tag:hover {
  color: #ba1f31;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/GothamBoldRegular.ttf") format("truetype");
}

nav {
  background: #202829;
  grid-area: nav;
}
.nav-link {
  text-decoration: none;
  margin: 10px;
  color: white;
}

.nav-link:hover {
  color: #ba1f31;
}

.nav-container {
  color: white;
  margin-bottom: 5px;
}

.nav-topics-show-more {
  margin: 10px auto;
}

main {
  background: #ba1f31;
  grid-area: main;
}

footer {
  height: 100%;
  color: white;
  background: #202829;
  grid-area: footer;
}

footer i {
  margin: 15 auto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 35px;
}
footer i:hover {
  color: #ba1f31;
}
