@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/GothamBoldRegular.ttf") format("truetype");
}

label {
  color: white;
}

.login {
  color: white;
  margin: 10px auto;
}

.logout {
  color: white;
  margin: 10px auto;
}
