@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/GothamBoldRegular.ttf") format("truetype");
}

.article-card-container:hover,
.article-card-container:focus,
.article-card-container:active {
  transform: scale(1.008);
  background-color: white;
  color: #ba1f31;
}

.article-card-container:hover .article-card-title,
.article-card-container:focus .article-card-title,
.article-card-container:active .article-card-title {
  transform: scale(1.008);
  background-color: white;
  color: #ba1f31;
}

.article-card-container:hover .article-card-votes,
.article-card-container:focus .article-card-votes,
.article-card-container:active .article-card-votes {
  transform: scale(1.008);
  background-color: white;
  color: #ba1f31;
}

.article-card-container:hover .article-card-topic,
.article-card-container:focus .article-card-topic,
.article-card-container:active .article-card-topic {
  transform: scale(1.008);
  background-color: white;
  color: #ba1f31;
}

.article-card-container:hover .article-card-user,
.article-card-container:focus .article-card-user,
.article-card-container:active .article-card-user {
  transform: scale(1.008);
  background-color: white;
  color: #ba1f31;
}

.article-card-container {
  color: white;
  max-width: 1240px;
  margin: 10px auto;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.25fr 4fr;
  grid-template-areas: "votes main";
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.valid-input {
  color: green;
}

.invalid-input {
  color: red;
}

.article-card-main {
  width: 90%;
  text-align: left;
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas: "topic user time" "title title title";
}

.article-card-title {
  text-align: left;
  width: 90%;
  margin: 10px auto;
  color: white;
  display: block;
  font-size: 200%;
  text-decoration: none;
  grid-area: title;
}

.article-card-votes {
  border-right: 2px solid black;
  grid-area: votes;
  display: block;
  font-size: 15px;
}

.article-card-user {
  margin: 5px;
  grid-area: user;
  color: white;
}
.article-card-time {
  margin: 5px;
  grid-area: time;
}
.article-card-topic {
  margin: 5px;
  grid-area: topic;
  color: white;
}

i {
  margin: 5px;
}

i:hover {
  color: lightgray;
}
