.article-adder-container {
  background: pink;
  width: 100%;
}
.title-container {
  margin: 10px;
}
.add-article-title {
  width: 100%;
}

.topic-container {
  margin: 10px;
}
.add-article-topic {
  width: 100%;
}

.body-container {
  margin: 10px;
}
.add-article-body {
  height: 200px;
  width: 100%;
}
.button {
  margin: 10px auto;
}
