.article-main-container {
  color: white;
  max-width: 1240px;
  margin: 10px auto;
}

.article-main-main {
  text-align: left;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 0.25fr 4fr;
  grid-template-rows: 1fr 1fr 100%;
  grid-template-areas: 'votes topic user time' 'votes title title title' 'votes body body body';
}

.article-main-comments {
  grid-area: comments;
}

.article-main-details {
  opacity: 0.8;
  margin: 2px;
}
.article-main-title {
  margin: 5px;
  text-align: left;
  font-size: 200%;
  grid-area: title;
}

.article-main-votes {
  text-align: center;
  grid-area: votes;
  font-size: 15px;
}

.article-main-user {
  margin: 5px;
  color: #202829;
  grid-area: user;
}

.article-main-user:hover {
  grid-area: user;
  color: white;
}

.article-main-time {
  opacity: 0.8;
  margin: 5px;
  grid-area: time;
}
.article-main-topic {
  margin: 5px;
  grid-area: topic;
  color: #202829;
}

.article-main-topic:hover {
  grid-area: topic;
  color: white;
}

.article-main-body {
  display: table;
  margin: 5px;
  border: 2px solid black;
  background: #202829;
  color: white;
  grid-area: body;
}
