.comment-list-container {
  max-width: 1240px;
}
.comment-container {
  text-align: left;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.25fr 4fr;
  grid-template-areas:
    "votes details"
    "votes body";
  border: 2px solid black;
  background: white;
  color: #ba1f31;
  margin: 10px auto;
}

.comment-details {
  margin: 5px;
  grid-area: details;
}

.comment-body {
  margin: 5px;
  height: 100%;
  grid-area: body;
}

.comment-votes {
  text-align: center;
  color: #ba1f31;
  border-right: 2px solid #202829;
  grid-area: votes;
}
