@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamBoldRegular.ttf') format('truetype');
}

.logout {
  color: white;
  margin: 10px auto;
}
.logout-input {
  margin: 10px;
}
label {
  color: white;
  margin: 10px;
}
